body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #7cbcfc, #87ceeb);
}

section {
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
    padding-top: 100px; /* Added padding to prevent overlap with fixed header */
}

header {
    text-align: center;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eceaea;
    padding: 0.5em;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

.menu-icon {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #f7f7f7;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    z-index: 1001;
}

.dropdown.show {
    display: block;
}

.dropdown a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown a:hover {
    background-color: #007bff;
    color: #fff;
}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 1em; /* Added margin to ensure spacing from the header */
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    color: #9100d4;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 15px;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    padding-left:5%;
    padding-right: 5%;
    line-height: 1.6;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, 1fr);    /* 4 rows */
    gap: 10px; /* Space between boxes */
    padding-left: 5px;
    padding-right: 5px;
}

.service-box {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

@media (min-width: 768px) {
    section {
        width: 80%;
        max-width: 768px;
        margin-top: 100px;
    }

    .menu-container {
        padding: 1em;
    }

    .logo {
        max-width: 150px;
    }

    .menu-icon {
        max-width: 50px;
    }
}
