/* Hero Section Styling */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 20%; 
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 1rem; 
    background-color: rgba(0, 0, 0, 0.5); 
    width: 80%; 
    max-width: 600px; 
    box-sizing: border-box; 
}

/* Restrict text to 3 words per line */
.hero-text h1 {
    font-size: 2.5vw; 
    margin: 0; 
    white-space: normal; 
    line-height: 1.2; 
}

.hero-text p {
    font-size: 2.5vw; 
    margin: 0; 
    white-space: normal; 
    line-height: 1.5; 
}

/* Navbar Styling */
.navbar {
    padding: 1rem 2rem; 
    height: 80px; 
}

.navbar-brand {
    font-size: 1.8rem; 
}

.navbar-nav .nav-link {
    font-size: 1.8rem; 
}

.navbar-nav .nav-item {
    padding-left: 1rem; 
}

/* Services Section Styling */
.services-section {
    position: relative; 
    padding: 2rem; 
    background-color: #ffffff; 
}

.cta-text {
    max-width: 1200px;
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
}

.cta-text h2 {
    font-size: 2.6rem;
    margin: 0;
    color: #333;
    font-family: Helvetica, sans-serif;
}

.services-cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem; 
    font-size: 1.2rem; 
    color: white; 
    background-color: #d648fa; 
    border-radius: 5px; 
    text-decoration: none; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cta-button:hover {
    background-color: #7d0bc9; 
}

.about-us-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}

.about-us-section {
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #f5f5f5; 
}

.about-us-section2 {
    position: relative;
    padding-top: 40px !important;
    background-color: #f5f5f5; 
}

/* About Us Container */
.about-us-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0; 
    box-sizing: border-box; 
}

/* Image Styling */
.about-us-container img {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0; 
}
.about-us-overlay {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-55%, -10%);
    color: white; 
    text-align: center;
    padding: 1rem; 
    width: 80%; 
    max-width: 600px; 
    box-sizing: border-box; 
    font-family: Helvetica, sans-serif;
}

.about-us-overlay h3 {
    font-size: 4rem; 
    color: #ffffff;
    margin-bottom: 0.5rem; 
}

.about-us-overlay p {
    font-size: 22px; 
}

/* Learn More Link Styling */
.learn-more-link {
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    color: #ffffff; 
    background-color: transparent; 
    border: 2px solid #d648fa; 
    border-radius: 5px; 
    text-decoration: none; 
    margin-top: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-family: Arial, Helvetica, sans-serif;
}

.learn-more-link:hover {
    color: white; 
    background-color: #d648fa; 
}

/* Assistance Section Styling */
.assistance-section {
    padding: 2rem;
    background-color: #87c3ff; 
    text-align: center; 
}

.assistance-text {
    max-width: 600px;
    margin: 0 auto; 
}

.assistance-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #d648fa; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assistance-button:hover {
    background-color: #7d0bc9; 
}

/* Footer Section Styling */
.footer-section {
    background-color: #ffffff; 
    padding: 2rem;
    color: #000000;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px; 
    margin-bottom: 1rem;
}

.footer-info p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

/* Services Section Styling */

.services-section {
    position: relative;
    padding: 2rem;
    background-color: #bbbbbb;
    margin-top: 80px; 
    padding-top: 100px; 
}    


.services-section img {
    z-index: 1; 
}

.accordion {
    z-index: 1; 
    margin-top: 30px;
}

#help-placeholder {
    margin-top: -60px; 
  }
/* About us */
body {
    padding-top: 70px; 
}

.about-us-section {
    padding: 4rem 0;
    background-color: #f5f5f5; 
    border-bottom: 1px solid #d3d3d3; 
}

.about-us-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-us-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-us-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-us-section h5 {
    font-size: 1.2rem;
    line-height: 1.6;
}
.gray-line {
    border-top: 2px solid #d3d3d3;
    margin-top: 2rem;
}
/* Contact Section */

.contact-section {
    padding: 2rem;
    background-color: #f5f5f5; 
  }
  
  .contact-heading {
    font-size: 3rem; /* Adjust as needed */
    font-weight: bold;
  }
  
  .contact-details h2 {
    font-size: 2rem; /* Adjust as needed */
  }
  
  .contact-details p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  /* Gray Line Separator */
  .separator {
    height: 2px;
    background-color: gray;
    margin: 2rem 0;
  }
  
  /* Contact Section 2 Styling */
  .contact-section-second {
    padding: 2rem;
  }
  
  .contact-us-info .small-text {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .contact-us-info h2 {
    font-size: 2.5rem; 
    margin-top: 1rem;
  }
  
  .contact-us-info .btn {
    margin-top: 1rem;
  }
/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    .hero-text {
        width: 90%; 
        left: 50%;  
    }
    .navbar-brand {
        font-size: 1.2rem;  
        white-space: nowrap; 
    }

    .navbar-nav .nav-link {
        font-size: 1.6rem;  
        color: #333;
    }

    .navbar-collapse {
        background-color: #ffffff; 
    }

    .navbar {
        padding: 0.5rem 1rem; 
    }

    .hero{
        height: auto;
    }

    .hero-text h1 {
        font-size: 5vw;  
    }

    .hero-text p {
        font-size: 3vw;
    }


    .services-section, .about-us-section {
        padding: 2rem 1rem; 
    }

    .cta-text h2 {
        font-size: 2.2rem; 
    }

    .footer-info {
        font-size: 1rem;
    }

    .about-us-section p{
        display: none;
    }

    .about-us-overlay h3 {
        font-size: 1.6rem; 
        margin: 0;
        white-space: normal;
        line-height: 1.2;
        color: #ffffff; 
    }

    .about-us-overlay {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        text-align: center;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5); 
        width: 80%;
        max-width: 600px;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
    }

    .about-us-section h5{
        font-size: 17px;

    }

    .about-us-container{
        padding-top: 20px;
    }
    }
@media (max-width: 400px) {

    .hero-text {
        width: 95%; 
        left: 50%;
    }

    .hero-text h1 {
        font-size: 6.5vw; 
    }

    .hero-text p {
        font-size: 4vw;
    }

    .about-us-overlay {
        top: 5%;
        left: 5%;
        transform: translate(-50%, -10%);
        width: 95%; 
        max-width: 400px; 
    }

    .about-us-overlay h3 {
        font-size: 1.6rem; 
        margin: 0;
        white-space: normal;
        line-height: 1.2;
        color: #ffffff; 
    }
    
    .about-us-overlay p {
        font-size: 1.6rem;  
    }

    .services-section, .about-us-section {
        padding: 1rem 0.5rem;  
    }
}